@import url("@repo/ui/dist/index.css");
body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.key {
  display: inline-block;
  background-color: #ddd;
  padding: 3px 10px;
  border-radius: 4px;
}
