.statistics {
  flex-grow: 1;
  background: #fff;
  border: 1px solid #ccc;
  border-left: 3px solid #ccc;
  padding: 20px;
}

.statistics .statistic-item {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.statistics .description {
  font-size: 20px;
}

.statistics .statistic-item:last-of-type {
  margin-bottom: 30px;
}
